.compliance-section {
  text-align: center;
  padding: 2rem;
  background-color: #f9fafb;
}

.compliance-section-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #002a4d;
}

.compliance-section-subtitle {
  font-size: 1.2rem;
  color: #506680;
  margin-bottom: 2rem;
}

.compliance-cards-container {
  display: flex;
  justify-content: center; /* Center the cards */
  gap: 2rem; /* Add space between the cards */
  flex-wrap: wrap;
}

.compliance-card {
  background-color: #f9fafb;
  border-radius: 10px;
  padding: 1.5rem;
  text-align: center;
  width: 300px;
  margin: 1rem;
}

.compliance-card-image {
  max-width: 150px; /* Increase the logo size */
  margin-bottom: 1rem;
}

.compliance-card-title {
  font-size: 1.4rem;
  color: #002a4d;
  margin-bottom: 0.5rem;
}

.compliance-card-description {
  font-size: 1rem;
  color: #506680;
  margin-bottom: 1rem;
}

.compliance-card-button {
  background-color: #c1f0d6;
  color: #29576a;
  padding: 0.5rem 2rem;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  display: inline-block;
  width: 100%; /* Set the button width to 100% of the card */
  box-sizing: border-box; /* Ensure padding doesn't affect the width */
}

.compliance-card-button:hover {
  background-color: #a3e5c3; /* Add a hover effect for the button */
}
